/* src/TimeSlots.css */

.table {
  width: auto;
  table-layout: auto;
}

.table th,
.table td {
  padding: 4px 8px;
}

.table td {
  white-space: nowrap; /* Prevent text from wrapping */
}

.qr-code-container {
  margin: 20px auto; /* Center the container horizontally */
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px; /* Limit the container's width */
}

.qr-code-container img {
  max-width: 100%; /* Ensure the QR code fits within the container */
  height: auto;
}

/* Legend Styling */
.legend {
  margin-bottom: 20px;
}

.legend .color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  vertical-align: middle;
}

.legend .available {
  background-color: #28a745; /* Green for available */
}

.legend .booked {
  background-color: #dc3545; /* Red for booked */
}

/* Note Styling */
.qr-note {
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .qr-code-container {
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 100%; /* Allow container to expand in smaller viewports */
  }
}
